@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pxl Grotesk';
  src: url('/assets/Pxl Grotesk.ttf') format('truetype');
}

:root {
  --foreground: #ffffff;
  --secondary: #5b28ce;
  --background: #2129e4;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 10px;
  border: 1px solid var(--background);
}

::selection {
  background: #333;
  color: #fff;
}
